@use "../main/variables" as v;

.header {
    background: v.$color-dark;
    color: v.$color-white;
    padding: v.$spacing-sm 0;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.nav__list {
    display: flex;
    gap: v.$spacing-sm;
    list-style: none;
}

.cart__button {
    background: none;
    border: none;
    color: v.$color-white;
    font-size: 1.2rem;
    cursor: pointer;
}
